NEXT_PUBLIC_SUPABASE_URL=https://ybncqfbywtbzcqptuiil.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlibmNxZmJ5d3RiemNxcHR1aWlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1OTI1OTIsImV4cCI6MjA3NzE2ODU5Mn0.EhPoeqN7dy9uAIjGmKnkALaNgc9RmprXtaleqlaaFxA

BLOB_READ_WRITE_TOKEN=vercel_blob_rw_FvNKU5BU2SbzzfWN_EeeEzZFibRbZ6syqTgizSfPFkxX3f3




